/* ================= */
/* ==== general ==== */
/* ================= */
body {
    font-family: sans-serif;
}

p {
    padding: 5px 5px 0 5px;
    color: #222;
    background-color: #eee;
    border-bottom: 1px solid #222;
}

footer {
    width: 100%;
    padding: 50px 0;
    background-color: #ddd;
}

footer p {
    padding: 0;
    background-color: transparent;
    border-bottom: 0;
    text-align: center;
    font-size: .7em;
}

/* ================= */
/* ===== table ===== */
/* ================= */
table {
    width: 100%;
    border: 1px solid #222;
}

caption {
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #222;
    color: #eee;
}

thead {
    border-bottom: 1px solid #222;
    background-color: #444;
    color: #ccc;
}

th, td {
    padding: 5px;
}

td {
    text-align: center;
    background-color: #eee;
    color: #222;
}
